.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -64px;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.breadcrumb {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2rem;
  font-size: 14px;
  color: rgb(176 178 183);
  letter-spacing: -0.04em;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.header {
  display: flex;
  text-align: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2.75rem;
}

.header p {
  color: rgb(176 178 183);
  letter-spacing: -0.04em;
  margin-top: 0.5rem;
  font-size: 14px;
}

.header h1 {
  color: rgb(255 255 255);
  letter-spacing: -0.05em;
  line-height: 1.25;
  font-weight: 500;
  font-size: 36px;
}

.paragraph p,
.paragraph div {
  color: rgb(176 178 183);
  letter-spacing: -0.04em;
  font-size: 14px;
}

.paragraph h4 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.25rem;
  margin-top: 0.25rem;
}

.content {
  display: flex;
  align-items: flex-start;
  min-height: 100%;
  position: relative;
}

.container_text {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(239 239 240);
}

.breadcrumb {
  padding-top: 0.5rem;
  grid-column: span 1 / span 1;
  top: 3rem;
}

.paragraph h1 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  scroll-margin-top: 2rem;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.05em;
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

.list {
  color: rgb(176 178 183);
  letter-spacing: -0.04em;
  font-size: 14px;
  margin-top: 1rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: disc;
}

.breadcrumb h5 {
  font-size: 14px;
  color: rgb(255, 255, 255);
  letter-spacing: -0.04em;
  font-weight: 500;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anchor {
  opacity: 0;
  margin-left: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: #888;
  font-size: 0.8em;
  transition: opacity 0.2s;
  cursor: pointer;
}

.heading:hover .anchor {
  opacity: 1;
}
