.hero {
  display: flex;
  overflow: hidden;
  position: relative;
  height: calc(100vh + 64px);
  margin-top: -64px;
  align-items: center;
  justify-content: center;

}

.hero::before {
  position: absolute;
  background-image: url('/images/11.jpg');
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(0.3);
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, var(--background) 0%, transparent 100%);
}

.wrapper {
  max-width: calc(1200px + 3rem);
  width: 100%;
  height: 100%;
  justify-content: start;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-top: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  max-width: 600px;
  z-index: 9999;
  height: 100%;
  margin-top: 15rem;
}

.container img {
  display: none;
}

.container h1 {
  font-size: 84px;
  font-weight: 600;
  line-height: 1;
  margin-top: 17px;
}


.container i {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.container p {
  margin-top: 0.125rem;
  font-size: 18px;
  font-weight: 200;
  margin-top: 1rem;
  color: var(--gray-color);
  max-width: 28rem;
}

.span {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.08);
  will-change: transform;
  opacity: 1;
  transform: none;
  border-radius: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  font-size: 14px;
  justify-content: center;
  overflow: hidden;
  padding: 6px 16px;
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 12%);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 2rem;
}

.absolute {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(5rem + 64px);
  /* margin-top: 5rem; */
}

.absolute h2 {
  color: #fff;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 14px;
}

.absolute ul {
  display: flex;
}

.absolute li {
  position: relative;
  color: var(--gray-text) !important;
  font-weight: 200;
  font-size: var(--paragraph-size-l);
  line-height: 1;
}

.absolute li::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 9999px;
  width: 3px;
  height: 3px;
  aspect-ratio: 1/1;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 0.1rem;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    justify-content: start;
  }



  .absolute {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .absolute ul {
    display: grid;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media (max-width: 620px) {
  .container h1 {
    font-size: 64px;
    line-height: 72px;
  }

}

@media (max-width: 500px) {
  .container h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -.02em;
    line-height: 1;
  }

  .container img {
    display: flex;
  }

  .container {
    margin-top: 10rem;
  }

  .container p {
    font-size: 14px;
    max-width: 90%;
  }
}