.secondaryButton {
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
  gap: 0.5rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px) saturate(180%);
  transition: 0.3s ease;
}

.secondaryButton:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.primaryButton {
  background-color: #fff;
  font-size: 15px;
  border-radius: 3rem;
  padding: 14.25px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: #000;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

.primaryButton:hover {
  gap: 1rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinnerDark {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
