.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
  transition: 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px) saturate(180%);
}

.active_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  padding: 0 1.5rem;
}

.container {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  height: 52px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 21px;
  font-weight: 600;
}

.logoImage {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.left,
.right {
  display: flex;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem {
  display: flex;
}

.right {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linkContent:hover > .chevron_right {
  opacity: 1;
}

.chevron_right {
  position: absolute;
  right: 0.5rem;
  opacity: 0;
  transition: 0.3s ease;
}

.dropdownItem:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 1rem;
}

.linkContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: start;
  text-align: center;
  justify-content: center;
}

.linkDescription,
.secondary {
  opacity: 0.7;
  margin-top: 0.125rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.125;
  font-size: 12px;
}

.linkName,
.primary {
  line-height: 1.125;
  letter-spacing: -0.02em;
  font-size: 14px;
}

.icon {
  padding: 0.625rem;
  border-width: 1px;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 12%);
  background-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align: end;
  justify-content: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 12%);
  position: relative;
  object-fit: cover;
}

.profile {
  display: flex;
  position: relative;
  cursor: pointer;
}

.profile::before {
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  background: rgb(34, 139, 34);
  background: linear-gradient(
    159deg,
    rgba(34, 139, 34, 1) 0%,
    rgba(50, 205, 50, 1) 100%
  );
  border-radius: 50%;
  z-index: 10;
}

.profileDropdown {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: column;
  top: 2.85rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 12%);
  border-radius: 1.5rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  display: flex;
  flex-direction: column;
}

.logout {
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.125;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.user_buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logout:hover {
  opacity: 1;
}

.menuButton {
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px) saturate(180%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.navigation_header {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 12px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 18px;
}

.navLink,
.navGroup {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.active {
  border-bottom: 1px solid white;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .menu {
    display: flex;
  }

  .starLink {
    display: none;
  }

  .user_buttons {
    display: none;
  }
  .profileDropdown {
    right: -4rem;
  }

  .menuButton {
    display: flex;
  }
}
