.main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  color: var(--black-h1-color);
  padding-top: 52px;
}

.container {
  padding: 0 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(11 13 16);
  position: relative;
  max-width: var(--page-width);
}

.container h1 {
  margin-top: 2.25rem;
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 700;
  letter-spacing: -0.008em;
  max-width: 800px;
  text-wrap: balance;
  color: var(--black-h1-color);
}

.container p {
  letter-spacing: -0.02em;
  font-size: 19px;
  max-width: 495px;
  margin-top: 0.875rem;
  margin-bottom: 28px;
}

.icon {
  animation: scaleDown 1.5s ease-in-out forwards;
}

.buttons {
  color: #fff;
}

@keyframes scaleDown {
  0% {
    width: 256px;
    height: 256px;
  }
  100% {
    width: 156px;
    height: 156px;
  }
}

@media (max-width: 1000px) {
  .container h1 {
    font-size: 44px;
    line-height: 1.0909090909;
    font-weight: 700;
    letter-spacing: -0.001em;
    max-width: 520px;
    margin-top: 1rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container p {
    font-size: 17px;
    max-width: 400px;
    margin-top: 0.5rem;
    margin-bottom: 20px;
  }

  .buttons {
    height: 44px;
  }
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 40px;
    line-height: 1.025;
    font-weight: 700;
    letter-spacing: 0em;
  }
}
