.avatarWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  background-color: #f3f3f3;
  position: relative;
}

.input {
  width: 100%;
}

.avatarOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.avatarWrapper:hover .avatarOverlay {
  opacity: 1;
}

.spinnerWrapper {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 700px) {
  .avatarImage {
    width: 150px;
    height: 150px;
  }

  .spinnerWrapper {
    width: 150px;
    height: 150px;
  }

  .avatarOverlay {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .avatarWrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.alert {
  display: flex;
  gap: 8px;
  padding: 8px 1rem;
  font-size: 13px;
  align-items: center;
  position: relative;
  text-align: center;
}

.alert__icon {
  line-height: 0;
}

.alert__message {
  flex: 1;
}

/* Цвета тем/вариантов */
.alert.success {
  background: rgba(52, 199, 89, 0.2);
  color: rgba(52, 199, 89, 1);
}
.alert.error {
  background: rgba(255, 56, 60, 0.2);
  color: rgba(255, 56, 60, 1);
}
.alert.info {
  background: rgba(0, 136, 255, 0.2);
  color: rgba(0, 136, 255, 1);
}
