@import "tailwindcss";

:root {
  --background: rgb(9 10 12);
  --foreground: #fff;
  --blue-color: #007aff;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: 0.3s ease;
  scroll-behavior: smooth;
  transition: 0.3s ease;
}
