.main {
  width: 100%;
  margin-top: -48px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 3rem;
}

.container p {
  font-weight: 200;
  opacity: 0.7;
}

.holder {
  width: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: start;
  border-radius: 24px;
  position: relative;
  margin-top: 2rem;
}

.span {
  display: flex;
  gap: 0.25rem;
  margin-top: 2rem;
  text-wrap: balance;
  max-width: 250px;
  margin-bottom: 2rem;
}

.span span {
  opacity: 0.7;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.span a {
  transition: 0.3s ease;
  color: var(--blue-color);
  font-size: 13px;
  font-weight: 400;
}
.span a:hover {
  text-decoration: underline;
}

.icon {
  width: 96px;
  height: 96px;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
}

.holder h3 {
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 500;
  font-size: 36px;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.holder h2 {
  font-weight: 300;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input p {
  letter-spacing: -0.02em;
  line-height: 1.375;
  font-size: 14px;
  color: rgb(193, 193, 194);
  font-weight: 300;
}

.input input {
  color: rgb(255 255 255);
  font-size: 13px;
  padding-top: 12.5px;
  font-weight: 300;
  padding-bottom: 12.5px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 9999px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}

.input button {
  margin-top: 1rem;
}

.or {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}

.or span {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 24%);
}

.or h1 {
  font-size: 13px;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  color: rgb(201, 203, 206);
}

.buttons {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons button {
  justify-content: space-between;
  font-size: 13px;
  padding-top: 12.5px;
  font-weight: 300;
  padding-bottom: 12.5px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 10%);
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputs input {
  color: rgb(255 255 255);
  font-size: 24px;
  font-weight: 300;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.sent_email {
  color: rgb(121 125 134);
  letter-spacing: -0.02em;
  line-height: 1.375;
  margin-top: 0.5rem;
}

.sent_email span {
  color: rgb(201 203 207);
}

.paragraph {
  padding-top: 1rem;
  font-size: 13px;
}
.paragraph p {
  margin: 0 !important;
}

.devider {
  width: 0.875rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 24%);
  border-radius: 9999px;
  display: block;
}

.get_code {
  transition: 0.3s ease;
  color: var(--blue-color);
  font-size: 14px;
  font-weight: 600;
}

.inlineForm {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  text-align: center;
  justify-content: start;
}

.inlineForm button {
  margin: 0 !important;
}

.icon_apple,
.icon_github {
  filter: invert(1);
}

.image_holder {
  position: relative;
}

.image_overlay {
  position: absolute;
  inset: 0;
  left: -25px;
  top: -25px;
  width: 150px;
  height: 150px;
  pointer-events: none;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 140, 255, 0.3) 0%,
    rgba(0, 140, 255, 0.18) 40%,
    rgba(0, 140, 255, 0.06) 60%,
    rgba(0, 140, 255, 0) 75%
  );
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .container p {
    font-size: 14px;
    max-width: 90%;
  }
}
