.globalBlocks {
  background: var(--town-showcase-bg);
  width: 100%;
  padding-top: 200px;
  padding-bottom: 150px;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.grid {
  display: grid;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  max-width: 820px;
}

.title {
  font-size: var(--h1-title-size);
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.016em;
  color: var(--black-h1-color);
}

.top_block,
.bottom_block {
  min-height: 460px;
  padding-right: 0;
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
  padding: 45px;
  align-items: center;
  background-color: #fff;
  grid-column: span 12;
  border-radius: 18px;
  overflow: hidden;
  padding-right: 0;
  grid-gap: 20px;
  gap: 20px;
}

.block_title {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.block_desc {
  color: var(--desc-color-gray);
  margin-top: 5px;
  font-size: 19px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.text {
  flex-basis: 40%;
  text-align: left;
}

.image_container {
  margin: 0 auto;
  width: 243px;
  height: 337px;
  background-size: 243px 337px;
  background-repeat: no-repeat;
  background-image: url("/images/mock_iphone_1.jpg");
  margin-bottom: -80px;
}

.top_block {
  padding-bottom: 0;
}

.middle_block {
  min-height: 590px;
  padding-right: 20px;
  padding-bottom: 0;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  padding: 45px;
  grid-gap: 20px;
  gap: 20px;
  background-color: #fff;
  background-color: #fff;
  border-radius: 18px;
  overflow: hidden;
  grid-column: span 6;
  padding-bottom: 0;
}

.image_container_middle {
  margin-top: auto;
  margin: 0 auto;
}

.image_figure_middle {
  width: 243px;
  height: 337px;
  background-size: 243px 337px;
  background-repeat: no-repeat;
  background-image: url("/images/mock_iphone_1.jpg");
}

#figure_middle_2 {
  background-image: url("/images/mock_iphone_2.jpg");
}

.image_container_bottom {
  padding-top: 50px;
  padding-bottom: 57px;
  margin: 0 auto;
}

.image_figure_bottom {
  display: flex;
  align-items: flex-end;
  padding-inline-start: 12px;
  width: 128px;
  height: 176px;
  background-image: url("/icons/privacy.png");
  background-size: cover;
}

@media (max-width: 1068px) {
  .globalBlocks {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .title {
    font-size: 44px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0em;
    max-width: 692px;
    text-wrap: balance;
  }
  .block_title {
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: -0.003em;
  }
  .block_desc {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.022em;
  }
  .container {
    max-width: 692px;
  }
}

@media (max-width: 734px) {
  .top_block {
    flex-direction: column;
    min-height: unset;
    padding-bottom: 40px;
    padding-right: 0;
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    padding: 35px 35px 0;
  }
  .grid {
    max-width: 328px;
    grid-row-gap: 30px;
    margin-top: 60px;
  }
  .text {
    padding-right: 20px;
  }
  .image_container {
    margin-top: 35px;
    margin-bottom: 0;
  }
  .middle_block {
    grid-column: span 12;
    padding: 35px 35px 0;
  }
  .image_figure_middle {
    margin-top: 35px;
  }
  .bottom_block {
    flex-direction: column;
    min-height: unset;
    padding: 35px 20px 0px 20px;
  }
  .image_figure_bottom {
    padding: 0 !important;
  }
  .title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
  }
  .globalBlocks {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
