.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999999999;
  background-color: var(--background);
}

.container {
  max-width: 80rem;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  text-align: center;
}

.ul {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 70px;
}

.text span {
  color: rgb(97 101 107);
  font-weight: 400;
}

.ul_link {
  color: rgb(201 203 207);
  transition: 0.3s ease;
}

.ul_link:hover {
  color: #fff;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
  margin-left: 70px;
}

.social_link {
  transition: 0.3s ease;
  color: rgb(201 203 207);
}
.social_link:hover {
  color: #fff;
}

.alex {
  font-weight: 400;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    #ff4e4e,
    #ac5c5c 25.6%,
    #adadad 41.58%,
    #adadad 56.98%,
    #adadad 69.44%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.alex a {
  color: rgb(201 203 207);
  transition: 0.3s ease;
}

.alex a:hover {
  color: #fff;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex img {
  width: 512px;
  height: 512px;
  margin-top: 5rem;
}

.text_container {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  margin-left: 4rem;
}

.text_container h1 {
  letter-spacing: -0.03em;
  line-height: 0.8;
  font-weight: 500;
  font-size: 80px;
  max-width: 510px;

  background: linear-gradient(45deg, #fff 50%, #fffded);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.text_container p {
  letter-spacing: -0.04em;
  line-height: 1.375;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  color: rgb(229 229 231);
  max-width: 60%;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 1090px) {
  .flex img {
    width: 420px;
    height: 420px;
  }
  .text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .social {
    margin: 0;
  }

  .text span {
    text-align: start;
  }
  .ul {
    margin: 0;
    justify-content: end;
  }

  .text_container h1 {
    font-size: 64px;
    list-style: 72px;
  }

  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .flex img {
    width: 256px;
    height: 256px;
    margin-top: 2.5rem;
  }
  .buttons {
    flex-direction: row;
  }
}

@media (max-width: 815px) {
  .text_container h1 {
    font-size: 48px;
    line-height: 64px;
  }

  .text_container {
    margin-left: 0;
  }

  .flex {
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 17px 32px;
  }
  .flex img {
    margin-top: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }

  .social {
    height: 36px;
  }

  .alex {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .buttons {
    flex-direction: column;
  }

  .text_container p {
    max-width: 100%;
  }

  .text_container h1 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 2rem;
  }
}
