.footer {
  background: var(--footer-background);            
  color: var(--footer-text-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 17px 16px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  border-top: 1px solid rgba(148,163,184,.15);
  border-bottom: 1px solid rgba(148,163,184,.15);
  padding: 17px 0;
}

.sectionTitle {
  color: #e2e8f0;                   
  font-size: var(--paragraph-size-m);
  font-weight: 600;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  color: var(--footer-link-color);
}

.item + .item {
  margin-top: 8px;
}

.link {
  font-size: var(--paragraph-size-m);
  text-decoration: none;
}
.link:hover { text-decoration: underline; }

.accordions {
  display: none;
  border-bottom: 1px solid var(--footer-border-color);
}

.details {
  border-top: 1px solid var(--footer-border-color);
}

.chevron {
  transition: transform .3s ease;
}

.details[open] .list { 
  padding-top: 16px; 
  padding-bottom: 16px;
  padding-left: 16px;
}

.details[open] .chevron {
  transform: rotate(90deg);
}


.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-weight: 400;
  height: 36px;
  font-size: 12px;
  color: #e2e8f0;
  border-bottom: 1px solid var(--footer-border-color);
}
.summary::-webkit-details-marker { display: none; }

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 18px;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 12px;
}

.copy { white-space: nowrap; }
.divider { opacity: .5; }

.smallLink {
  text-decoration: none;
  font-size: 12px;
  color: var(--footer-link-color);
}
.smallLink:hover { text-decoration: underline; }

.download img {
  width: 96px;
}

.footerText {
  margin: 0 0 20px;
  color: var(--footer-gray-text);
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  line-height: 1;
}

.footerText li + li { margin-top: 6px; }

@media (max-width: 640px) {
  .footerText { font-size: 11.5px; }
}

@media (max-width: 1024px) {
  .grid { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media (max-width: 720px) {
  .grid { display: none; }
  .accordions { display: block; }
  .bottom { gap: 10px; }
}

